<div>
    <form action="/action_page.php">
        <label for="ID">ID</label>
            <input type="text" id="id" name="id">{{business._id}}<br>
            
      
        <label for="pname">Person Name</label>
            <input type="text" id="pname" name="personname">
            {{business.person_name}}<br>
      
        <label for="bname">Business Name</label>
            <input type="text" id="bname" name="businessname">
            {{business.business_name}}<br>

        <label for="bnumber">Business GST Number</label>
            <input type="text" id="bnumber" name="businessnumber">
            {{business.business_gst_number}}
    </form>
</div>
      
